.upload {
	width: 50%;
}
.thead {
	background-color: lightgreen;	
}
.odd {
	background-color: #CCC;
	height: 22px;
	width: 100%;
}
.even {
	background-color: #FFF;
	height: 22px;
	width: 100%;
}
.delete {
	width: 36px;
	height: 22px;
	text-align: center;
	padding: 0;
	margin: 0;
	background-color: red;
	color: white;
}
.title {
	color: green;
}
#error_explanation {
	border: 1px solid red;
	color: red;
	padding: 0;
}
#error_explanation h2 {
	color: #FFF;
	background-color: red;
}
